html {
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.2;
}

li {
    list-style-type: none;
}

/* page one */

.body1 {
    background-color:rgb(157, 175, 175) ;
}

/* page two */

.body2 {
    background-color: rgba(99, 84, 84, 0.605);
}

/* page three */

.body3 {
    background-color: thistle;
}


main {
    max-width: 800px;
    max-height: 100px;
    margin: auto;
}